#Team United:

Samer Baslan <br>
Rohan Kumar <br>
Jimmy Liang <br>
Tripura Chandana Gayatri Gorla

##Installs

In [1]:
!pip install finpie -qqq
!pip install newsapi-python -qqq

     |████████████████████████████████| 40.1 MB 1.2 MB/s
     |████████████████████████████████| 958 kB 42.6 MB/s
     |████████████████████████████████| 54 kB 3.0 MB/s
     |████████████████████████████████| 356 kB 51.6 MB/s
     |████████████████████████████████| 138 kB 43.7 MB/s
     |████████████████████████████████| 3.6 MB 42.8 MB/s
     |████████████████████████████████| 55 kB 3.2 MB/s
     |████████████████████████████████| 54 kB 3.4 MB/s
     |████████████████████████████████| 1.1 MB 37.7 MB/s
     |████████████████████████████████| 160 kB 57.4 MB/s
     |████████████████████████████████| 192 kB 49.0 MB/s
     |████████████████████████████████| 271 kB 59.0 MB/s
     |████████████████████████████████| 802 kB 48.5 MB/s
     |████████████████████████████████| 132 kB 54.7 MB/s
     |████████████████████████████████| 793 kB 44.6 MB/s
     |████████████████████████████████| 793 kB 38.2 MB/s
     |████████████████████████████████| 791 kB 50.8 MB/s
     |████████████████████████████████| 786 kB 52.2 MB/s
     |████████████████████████████████| 779 kB 40.5 MB/s
     |████████████████████████████████| 778 kB 36.7 MB/s
     |████████████████████████████████| 776 kB 44.9 MB/s
     |████████████████████████████████| 769 kB 39.2 MB/s
     |████████████████████████████████| 766 kB 56.1 MB/s
     |████████████████████████████████| 1.0 MB 49.3 MB/s
     |████████████████████████████████| 722 kB 51.5 MB/s
     |████████████████████████████████| 722 kB 59.3 MB/s
     |████████████████████████████████| 715 kB 58.5 MB/s
     |████████████████████████████████| 705 kB 54.3 MB/s
     |████████████████████████████████| 699 kB 66.7 MB/s
     |████████████████████████████████| 696 kB 72.2 MB/s
     |████████████████████████████████| 684 kB 60.0 MB/s
     |████████████████████████████████| 679 kB 60.0 MB/s
     |████████████████████████████████| 675 kB 61.2 MB/s
     |████████████████████████████████| 675 kB 59.0 MB/s
     |████████████████████████████████| 672 kB 65.2 MB/s
     |████████████████████████████████| 671 kB 51.4 MB/s
     |████████████████████████████████| 669 kB 77.8 MB/s
     |████████████████████████████████| 656 kB 78.3 MB/s
     |████████████████████████████████| 62 kB 850 kB/s
     |████████████████████████████████| 83 kB 2.6 MB/s
     |████████████████████████████████| 103 kB 50.4 MB/s
  Building wheel for finpie (setup.py) ... done
  Building wheel for fake-useragent (setup.py) ... done
  Building wheel for parse (setup.py) ... done
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
gym 0.17.3 requires cloudpickle<1.7.0,>=1.2.0, but you have cloudpickle 2.0.0 which is incompatible.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.26.0 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.

##Imports

In [2]:
import requests
import json
import csv

import finpie as fp
from finpie import NewsData

import newsapi
from newsapi import NewsApiClient

import pandas as pd

/usr/local/lib/python3.7/dist-packages/trio/_core/_multierror.py:464: RuntimeWarning: IPython detected, but you already have a custom exception handler installed. I'll skip installing Trio's custom handler, but this means MultiErrors will not show full tracebacks.
  category=RuntimeWarning,

##Scrape prices

In [64]:
tickerlist = ["AAPL", "NVDA", "TSLA", "AMZN", "GOOGL", "FB", "MSFT", "NFLX"] #add however many we want

In [21]:
def scrapeHistoricalPrices(tickerlist):
  d = {ticker: pd.DataFrame(fp.historical_prices(ticker)) for ticker in tickerlist}
  return d

In [67]:
prices = scrapeHistoricalPrices(tickerlist)
prices

{'AAPL':                   open        high  ...   adj_close     volume
 date                                ...
 1980-12-12    0.128348    0.128906  ...    0.100453  469033600
 1980-12-15    0.122210    0.122210  ...    0.095213  175884800
 1980-12-16    0.113281    0.113281  ...    0.088224  105728000
 1980-12-17    0.115513    0.116071  ...    0.090408   86441600
 1980-12-18    0.118862    0.119420  ...    0.093029   73449600
 ...                ...         ...  ...         ...        ...
 2021-11-16  149.940002  151.490005  ...  151.000000   59256200
 2021-11-17  151.000000  155.000000  ...  153.490005   88807000
 2021-11-18  153.710007  158.669998  ...  157.869995  137827700
 2021-11-19  157.649994  161.020004  ...  160.550003  117147500
 2021-11-22  161.679993  165.699997  ...  161.020004  117342000

 [10325 rows x 6 columns],
 'AMZN':                    open         high  ...    adj_close    volume
 date                                  ...
 1997-05-15     2.437500     2.500000  ...     1.958333  72156000
 1997-05-16     1.968750     1.979167  ...     1.729167  14700000
 1997-05-19     1.760417     1.770833  ...     1.708333   6106800
 1997-05-20     1.729167     1.750000  ...     1.635417   5467200
 1997-05-21     1.635417     1.645833  ...     1.427083  18853200
 ...                 ...          ...  ...          ...       ...
 2021-11-16  3539.000000  3576.500000  ...  3540.699951   2217100
 2021-11-17  3564.719971  3587.250000  ...  3549.000000   2560300
 2021-11-18  3566.350098  3704.199951  ...  3696.060059   5703500
 2021-11-19  3712.689941  3762.149902  ...  3676.570068   4936700
 2021-11-22  3676.379883  3713.459961  ...  3572.570068   4842200

 [6173 rows x 6 columns],
 'FB':                   open        high  ...   adj_close     volume
 date                                ...
 2012-05-18   42.049999   45.000000  ...   38.230000  573576400
 2012-05-21   36.529999   36.660000  ...   34.029999  168192700
 2012-05-22   32.610001   33.590000  ...   31.000000  101786600
 2012-05-23   31.370001   32.500000  ...   32.000000   73600000
 2012-05-24   32.950001   33.209999  ...   33.029999   50237200
 ...                ...         ...  ...         ...        ...
 2021-11-16  343.829987  346.649994  ...  342.959991   18181100
 2021-11-17  344.239990  347.299988  ...  340.769989   13602800
 2021-11-18  339.720001  342.459991  ...  338.690002   17487200
 2021-11-19  342.200012  352.100006  ...  345.299988   26441000
 2021-11-22  349.049988  353.829987  ...  341.010010   27090400

 [2395 rows x 6 columns],
 'GOOGL':                    open         high  ...    adj_close    volume
 date                                  ...
 2004-08-19    50.050049    52.082081  ...    50.220219  44659096
 2004-08-20    50.555557    54.594597  ...    54.209209  22834343
 2004-08-23    55.430431    56.796799  ...    54.754753  18256126
 2004-08-24    55.675674    55.855858  ...    52.487488  15247337
 2004-08-25    52.532532    54.054054  ...    53.053055   9188602
 ...                 ...          ...  ...          ...       ...
 2021-11-16  2962.989990  2975.250000  ...  2957.520020    945200
 2021-11-17  2960.550049  2971.189941  ...  2960.939941    979700
 2021-11-18  2964.830078  3011.610107  ...  2996.770020   1780400
 2021-11-19  2999.510010  3019.330078  ...  2978.530029   1684100
 2021-11-22  2986.649902  2996.590088  ...  2926.040039   1529700

 [4347 rows x 6 columns],
 'MSFT':                   open        high  ...   adj_close      volume
 date                                ...
 1986-03-13    0.088542    0.101563  ...    0.061378  1031788800
 1986-03-14    0.097222    0.102431  ...    0.063570   308160000
 1986-03-17    0.100694    0.103299  ...    0.064667   133171200
 1986-03-18    0.102431    0.103299  ...    0.063022    67766400
 1986-03-19    0.099826    0.100694  ...    0.061926    47894400
 ...                ...         ...  ...         ...         ...
 2021-11-16  335.679993  340.670013  ...  338.890015    20886800
 2021-11-17  338.940002  342.190002  ...  339.119995    19053400
 2021-11-18  338.179993  342.450012  ...  341.269989    22463500
 2021-11-19  342.640015  345.100006  ...  343.109985    21942200
 2021-11-22  344.619995  349.670013  ...  339.829987    31004600

 [8999 rows x 6 columns],
 'NFLX':                   open        high  ...   adj_close     volume
 date                                ...
 2002-05-23    1.156429    1.242857  ...    1.196429  104790000
 2002-05-24    1.214286    1.225000  ...    1.210000   11104800
 2002-05-28    1.213571    1.232143  ...    1.157143    6609400
 2002-05-29    1.164286    1.164286  ...    1.103571    6757800
 2002-05-30    1.107857    1.107857  ...    1.071429   10154200
 ...                ...         ...  ...         ...        ...
 2021-11-16  678.270020  688.359985  ...  687.400024    2077400
 2021-11-17  690.000000  700.989990  ...  691.690002    2732800
 2021-11-18  691.609985  691.739990  ...  682.020020    2012900
 2021-11-19  692.349976  694.159973  ...  678.799988    2613700
 2021-11-22  676.020020  679.479980  ...  659.200012    2764400

 [4911 rows x 6 columns],
 'NVDA':                   open        high  ...   adj_close     volume
 date                                ...
 1999-01-22    0.437500    0.488281  ...    0.376820  271468800
 1999-01-25    0.442708    0.458333  ...    0.416296   51048000
 1999-01-26    0.458333    0.467448  ...    0.383998   34320000
 1999-01-27    0.419271    0.429688  ...    0.382802   24436800
 1999-01-28    0.416667    0.419271  ...    0.381605   22752000
 ...                ...         ...  ...         ...        ...
 2021-11-16  297.589996  303.899994  ...  302.029999   26448400
 2021-11-17  304.179993  305.089996  ...  292.609985   42850800
 2021-11-18  323.670013  327.600006  ...  316.750000   78171100
 2021-11-19  322.429993  330.880005  ...  329.850006   53126300
 2021-11-22  335.170013  346.470001  ...  319.559998   75289400

 [5748 rows x 6 columns],
 'TSLA':                    open         high  ...    adj_close    volume
 date                                  ...
 2010-06-29     3.800000     5.000000  ...     4.778000  93831500
 2010-06-30     5.158000     6.084000  ...     4.766000  85935500
 2010-07-01     5.000000     5.184000  ...     4.392000  41094000
 2010-07-02     4.600000     4.620000  ...     3.840000  25699000
 2010-07-06     4.000000     4.000000  ...     3.222000  34334500
 ...                 ...          ...  ...          ...       ...
 2021-11-16  1003.309998  1057.199951  ...  1054.729980  26542400
 2021-11-17  1063.510010  1119.640015  ...  1089.010010  31445400
 2021-11-18  1106.550049  1112.000000  ...  1096.380005  20898900
 2021-11-19  1098.869995  1138.719971  ...  1137.060059  21168000
 2021-11-22  1162.329956  1201.949951  ...  1156.869995  32338100

 [2872 rows x 6 columns]}

Create CSV files

In [68]:
for name in prices:
  prices[name].to_csv(f"prices_{name}")

In [69]:
test_prices = pd.read_csv("prices_AAPL")
test_prices

             date        open        high  ...       close   adj_close     volume
0      1980-12-12    0.128348    0.128906  ...    0.128348    0.100453  469033600
1      1980-12-15    0.122210    0.122210  ...    0.121652    0.095213  175884800
2      1980-12-16    0.113281    0.113281  ...    0.112723    0.088224  105728000
3      1980-12-17    0.115513    0.116071  ...    0.115513    0.090408   86441600
4      1980-12-18    0.118862    0.119420  ...    0.118862    0.093029   73449600
...           ...         ...         ...  ...         ...         ...        ...
10320  2021-11-16  149.940002  151.490005  ...  151.000000  151.000000   59256200
10321  2021-11-17  151.000000  155.000000  ...  153.490005  153.490005   88807000
10322  2021-11-18  153.710007  158.669998  ...  157.869995  157.869995  137827700
10323  2021-11-19  157.649994  161.020004  ...  160.550003  160.550003  117147500
10324  2021-11-22  161.679993  165.699997  ...  161.020004  161.020004  117342000

[10325 rows x 7 columns]

##Scrape news articles

In [70]:
newsapi = NewsApiClient(api_key='d2fc944a8f1c46f6a2a16c76ca6a98e5')

In [71]:
tickernames = ["apple", "amazon", "google", "facebook", "tesla", "nvidia", "microsoft", "netflix"]

In [72]:
def scrapeNewsData(tickerlist):
  #d = {ticker: pd.DataFrame(fp.historical_prices(ticker)) for ticker in tickerlist}
  d = {}
  for ticker in tickerlist:
    d[ticker] = newsapi.get_everything(q=ticker,
                                       sources='bloomberg,business-insider',
                                       domains='techcrunch.com',
                                       from_param='2021-10-23', #update from_param since we're using free tier
                                       to='2021-11-15',
                                       language='en',
                                       sort_by='relevancy',
                                       page=2
                                       )
  return d

news = scrapeNewsData(tickernames)

In [73]:
def createNewsDataFrame(dictionary):
  d = {}
  title_list = []
  article_list = []
  source_list = []
  for company in dictionary:
    company_name = company
    for i in range(len(dictionary[company]['articles'])):
      title_list.append(dictionary[company]['articles'][i]['title'])
      article_list.append(dictionary[company]['articles'][i]['content'])
      source_list.append(dictionary[company]['articles'][i]['source']['name'])
      dataframe = pd.DataFrame(data = {'company_name': company_name,
                                      'title': title_list,
                                      'article': article_list,
                                      'source': source_list})
    d[company] = dataframe
    title_list.clear()
    article_list.clear()
    source_list.clear()
  return d

news_dataframes = createNewsDataFrame(news)

In [74]:
news_dataframes

{'amazon':    company_name  ...            source
 0        amazon  ...  Business Insider
 1        amazon  ...  Business Insider
 2        amazon  ...  Business Insider
 3        amazon  ...  Business Insider
 4        amazon  ...  Business Insider
 5        amazon  ...  Business Insider
 6        amazon  ...  Business Insider
 7        amazon  ...  Business Insider
 8        amazon  ...  Business Insider
 9        amazon  ...  Business Insider
 10       amazon  ...  Business Insider
 11       amazon  ...  Business Insider
 12       amazon  ...  Business Insider
 13       amazon  ...  Business Insider
 14       amazon  ...  Business Insider
 15       amazon  ...  Business Insider
 16       amazon  ...  Business Insider
 17       amazon  ...  Business Insider
 18       amazon  ...  Business Insider
 19       amazon  ...  Business Insider

 [20 rows x 4 columns], 'apple':    company_name  ...            source
 0         apple  ...  Business Insider
 1         apple  ...  Business Insider
 2         apple  ...  Business Insider
 3         apple  ...  Business Insider
 4         apple  ...  Business Insider
 5         apple  ...  Business Insider
 6         apple  ...  Business Insider
 7         apple  ...  Business Insider
 8         apple  ...  Business Insider
 9         apple  ...  Business Insider
 10        apple  ...  Business Insider
 11        apple  ...  Business Insider
 12        apple  ...  Business Insider
 13        apple  ...  Business Insider
 14        apple  ...  Business Insider
 15        apple  ...  Business Insider
 16        apple  ...  Business Insider
 17        apple  ...  Business Insider
 18        apple  ...  Business Insider
 19        apple  ...  Business Insider

 [20 rows x 4 columns], 'facebook':    company_name  ...            source
 0      facebook  ...  Business Insider
 1      facebook  ...  Business Insider
 2      facebook  ...  Business Insider
 3      facebook  ...  Business Insider
 4      facebook  ...  Business Insider
 5      facebook  ...  Business Insider
 6      facebook  ...  Business Insider
 7      facebook  ...  Business Insider
 8      facebook  ...        TechCrunch
 9      facebook  ...  Business Insider
 10     facebook  ...  Business Insider
 11     facebook  ...  Business Insider
 12     facebook  ...  Business Insider
 13     facebook  ...  Business Insider
 14     facebook  ...  Business Insider
 15     facebook  ...  Business Insider
 16     facebook  ...  Business Insider
 17     facebook  ...  Business Insider
 18     facebook  ...  Business Insider
 19     facebook  ...  Business Insider

 [20 rows x 4 columns], 'google':    company_name  ...            source
 0        google  ...  Business Insider
 1        google  ...         Bloomberg
 2        google  ...         Bloomberg
 3        google  ...  Business Insider
 4        google  ...  Business Insider
 5        google  ...  Business Insider
 6        google  ...  Business Insider
 7        google  ...  Business Insider
 8        google  ...  Business Insider
 9        google  ...  Business Insider
 10       google  ...  Business Insider
 11       google  ...  Business Insider
 12       google  ...  Business Insider
 13       google  ...  Business Insider
 14       google  ...  Business Insider
 15       google  ...  Business Insider
 16       google  ...  Business Insider
 17       google  ...  Business Insider
 18       google  ...  Business Insider
 19       google  ...  Business Insider

 [20 rows x 4 columns], 'microsoft':    company_name  ...            source
 0     microsoft  ...  Business Insider
 1     microsoft  ...        TechCrunch
 2     microsoft  ...        TechCrunch
 3     microsoft  ...        TechCrunch
 4     microsoft  ...         Bloomberg
 5     microsoft  ...         Bloomberg
 6     microsoft  ...         Bloomberg
 7     microsoft  ...  Business Insider
 8     microsoft  ...        TechCrunch
 9     microsoft  ...        TechCrunch
 10    microsoft  ...        TechCrunch
 11    microsoft  ...        TechCrunch
 12    microsoft  ...         Bloomberg
 13    microsoft  ...         Bloomberg
 14    microsoft  ...         Bloomberg
 15    microsoft  ...        TechCrunch
 16    microsoft  ...         Bloomberg
 17    microsoft  ...         Bloomberg
 18    microsoft  ...         Bloomberg
 19    microsoft  ...        TechCrunch

 [20 rows x 4 columns], 'netflix':    company_name  ...            source
 0       netflix  ...        TechCrunch
 1       netflix  ...         Bloomberg
 2       netflix  ...         Bloomberg
 3       netflix  ...         Bloomberg
 4       netflix  ...         Bloomberg
 5       netflix  ...         Bloomberg
 6       netflix  ...         Bloomberg
 7       netflix  ...         Bloomberg
 8       netflix  ...        TechCrunch
 9       netflix  ...         Bloomberg
 10      netflix  ...  Business Insider
 11      netflix  ...         Bloomberg
 12      netflix  ...        TechCrunch
 13      netflix  ...         Bloomberg
 14      netflix  ...         Bloomberg
 15      netflix  ...         Bloomberg
 16      netflix  ...         Bloomberg
 17      netflix  ...        TechCrunch
 18      netflix  ...         Bloomberg
 19      netflix  ...        TechCrunch

 [20 rows x 4 columns], 'nvidia':    company_name  ...            source
 0        nvidia  ...        TechCrunch
 1        nvidia  ...  Business Insider
 2        nvidia  ...  Business Insider
 3        nvidia  ...  Business Insider
 4        nvidia  ...        TechCrunch
 5        nvidia  ...  Business Insider
 6        nvidia  ...         Bloomberg
 7        nvidia  ...         Bloomberg
 8        nvidia  ...         Bloomberg
 9        nvidia  ...        TechCrunch
 10       nvidia  ...        TechCrunch
 11       nvidia  ...         Bloomberg
 12       nvidia  ...        TechCrunch
 13       nvidia  ...         Bloomberg
 14       nvidia  ...        TechCrunch
 15       nvidia  ...        TechCrunch

 [16 rows x 4 columns], 'tesla':    company_name  ...            source
 0         tesla  ...  Business Insider
 1         tesla  ...  Business Insider
 2         tesla  ...  Business Insider
 3         tesla  ...  Business Insider
 4         tesla  ...  Business Insider
 5         tesla  ...  Business Insider
 6         tesla  ...  Business Insider
 7         tesla  ...  Business Insider
 8         tesla  ...  Business Insider
 9         tesla  ...  Business Insider
 10        tesla  ...  Business Insider
 11        tesla  ...  Business Insider
 12        tesla  ...  Business Insider
 13        tesla  ...  Business Insider
 14        tesla  ...  Business Insider
 15        tesla  ...  Business Insider
 16        tesla  ...  Business Insider
 17        tesla  ...  Business Insider
 18        tesla  ...  Business Insider
 19        tesla  ...  Business Insider

 [20 rows x 4 columns]}

In [62]:
news_dataframes["tesla"]

   company_name  ...            source
0         tesla  ...  Business Insider
1         tesla  ...  Business Insider
2         tesla  ...  Business Insider
3         tesla  ...  Business Insider
4         tesla  ...  Business Insider
5         tesla  ...  Business Insider
6         tesla  ...  Business Insider
7         tesla  ...  Business Insider
8         tesla  ...  Business Insider
9         tesla  ...  Business Insider
10        tesla  ...  Business Insider
11        tesla  ...  Business Insider
12        tesla  ...  Business Insider
13        tesla  ...  Business Insider
14        tesla  ...  Business Insider
15        tesla  ...  Business Insider
16        tesla  ...  Business Insider
17        tesla  ...  Business Insider
18        tesla  ...  Business Insider
19        tesla  ...  Business Insider

[20 rows x 4 columns]

Create CSV files

In [15]:
for name in news_dataframes:
  news_dataframes[name].to_csv(f"news_{name}", index = False)

In [16]:
test_news = pd.read_csv("news_apple")
test_news

   company_name  ...            source
0         apple  ...  Business Insider
1         apple  ...  Business Insider
2         apple  ...  Business Insider
3         apple  ...  Business Insider
4         apple  ...  Business Insider
5         apple  ...  Business Insider
6         apple  ...  Business Insider
7         apple  ...  Business Insider
8         apple  ...  Business Insider
9         apple  ...  Business Insider
10        apple  ...  Business Insider
11        apple  ...  Business Insider
12        apple  ...  Business Insider
13        apple  ...  Business Insider
14        apple  ...  Business Insider
15        apple  ...  Business Insider
16        apple  ...  Business Insider
17        apple  ...  Business Insider
18        apple  ...  Business Insider
19        apple  ...  Business Insider

[20 rows x 4 columns]